<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask Image Uploader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
</head>
<style>
    body {
        margin: 16px;
    }
</style>

<body>
    <header>
        <h2>Tester Version 1.0.4</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
                Browse
                <input type="file" name="image">
            </span>

            <input type="submit" value="Upload your image" class="btn btn-primary">
        </form>
    </header>

</body>

</html>